.sp--banner{
    width: 100%;
    background-image: url('../../img/wallpaper.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.sp--container-banner{
    height: 650px;
    max-width: 1800px;
    display: flex;
}

.sp--banner-classificacao{
    position: fixed;
    top: calc(var(--banner-height)/2.2);
    left: 100px;
}

.sp--banner-botoes{
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sp--banner-btn-play,
.sp--banner-btn-info{
    text-align: center;
    border: solid 2px;
    border-color: white;
    box-shadow: 0 5px 10px 2px #000;
    top: calc(var(--banner-height)/1.8);
    position: fixed;
    color: white;
    background-color: #171717;
    font-weight: 700;
    font-size: 24px;
    height: 60px;
    cursor: pointer;
    opacity: 0.95;
    transition: all 0.2s ease;
}

.sp--banner-btn-play:hover,
.sp--banner-btn-info:hover{
    opacity: 1;
    transform: scale(1.1);
}

.sp--banner-btn-play{
    width: 205px;
    left: 100px;
    border-radius: 5px;
}

.sp--banner-btn-info{
    width: 60px;
    border-radius: 50%;
    left: 355px;
}