<link rel="stylesheet" href="./header.css">
<input type="text" class="sp--header-pesquisar">

<section class="sp--banner">
    <div class="sp--container-banner">
        <div class="sp--banner-classificacao">
            <img src="../img/classificacao.png" alt="" class="sp--classificacao-img">
        </div>
        <div class="sp--banner-botoes">
            <button class="sp--banner-btn-play">Assistir</button>
            <button class="sp--banner-btn-info">i</button>
        </div>
    </div>
</section>

<div class="categoria">
    <img src="" alt="" class="thumb">
</div>